.sideContainer {
  color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  width: 18rem;
}

.sideContainer .logo {
  color: #fff;
  margin: 10px;
  font-size: 18px;
  line-height: 36px;
    text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu {
  flex: 1;
}
